<footer  [style.width]="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center pt-2">
          <p >Powere By Roynex</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center pt-2">
          <p >Build number.1.1.13</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center pt-2">
          <p >All rights reserved <i class="fa fa-copyright p-1"></i>{{date|date:'y'}}</p>
        </div>
      </div>
    </div>
  </footer>