#main-list {
  padding: 0%;
  width: 100%;
}
li {
  cursor: pointer;

  list-style-type: none;
  margin: 0.9em 0em;
}
ul li a {
  color: darkslategray;
  font-weight: 500;
  font-size: large;
  text-decoration: none;
  display: block;
  padding: 0.5em 0em;
}
ul li a:hover {
  box-shadow: 0px 2.5px 5px 0.5px lightgray;
  transition: all 0.5s ease-in;
}
.Butt {
  font-weight: 500;
}
.Butt:hover {
  color: black;
  box-shadow: 0px 0px 5px 3px lightgray;
  transition: all 0.5s ease-in;
}
.style-angle {
  float: right;
  font-size: medium;
}
#closeSid {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background-color: white;
}
#closeSid i {
  cursor: pointer;
  float: right;
  font-size: large;
  color: gray;
}
#closeSid i:hover {
  color: black;
  transition: all 0.5s ease-in;
}
@media only screen and (max-width: 768px) {
  ul li a {
    font-size: x-small;
  }
}
@media only screen and (max-width: 425px) {
  ul li a i {
    font-size: x-small;
  }
  .style-angle {
    font-size: small;
  }
}
@media only screen and (max-width: 375px) {
  .style-angle {
    font-size: x-small;
  }
}
