#menu p {
  display: inline-block;
  font-weight: 500;
  font-size: large;
}
#menu p i {
  display: inline-block;
  background-color: rgb(22, 22, 88);
  border-radius: 4px;
  padding: 2px 4px 0px 5px;
  font-size: small;
  color: white;
}
